BooksWebService/BooksWebApp/Connected Services/BooksWebServiceProxy/BooksWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllBooksWithAuthors">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBooksWithAuthorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllBooksWithAuthorsResult" type="tns:ArrayOfBooksWithAuthorName" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBooksWithAuthorName">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BooksWithAuthorName" nillable="true" type="tns:BooksWithAuthorName" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BooksWithAuthorName">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BookTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BookGenre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthorName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BookId" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllAuthors">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAuthorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAuthorsResult" type="tns:ArrayOfAuthor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAuthor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Author">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AuthorId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthorName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOneBookWithAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOneBookWithAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOneBookWithAuthorResult" type="tns:BooksWithAuthorName" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertAuthorResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authorName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateAuthorResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertBook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookGenre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authorDropdown" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBookResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateBooks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookGenre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="authorDropdown" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateBooksResponse">
        <s:complexType />
      </s:element>
      <s:element name="getFirstAuthor">
        <s:complexType />
      </s:element>
      <s:element name="getFirstAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFirstAuthorResult" type="tns:Author" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastAuthor">
        <s:complexType />
      </s:element>
      <s:element name="getLastAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastAuthorResult" type="tns:Author" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNextAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maxAuthorId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNextAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNextAuthorResult" type="tns:Author" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPreviousAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="minAuthorId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPreviousAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPreviousAuthorResult" type="tns:Author" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFirstBookAndAuthor">
        <s:complexType />
      </s:element>
      <s:element name="getFirstBookAndAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFirstBookAndAuthorResult" type="tns:BooksWithAuthorName" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastBookAndAuthor">
        <s:complexType />
      </s:element>
      <s:element name="getLastBookAndAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLastBookAndAuthorResult" type="tns:BooksWithAuthorName" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNextBookAndAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maxBookId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNextBookAndAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNextBookAndAuthorResult" type="tns:BooksWithAuthorName" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPreviousBookAndAuthor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bookId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="minBookId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPreviousBookAndAuthorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPreviousBookAndAuthorResult" type="tns:BooksWithAuthorName" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllBooksWithAuthorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllBooksWithAuthors" />
  </wsdl:message>
  <wsdl:message name="GetAllBooksWithAuthorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllBooksWithAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAuthorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAuthors" />
  </wsdl:message>
  <wsdl:message name="GetAllAuthorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOneBookWithAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:GetOneBookWithAuthor" />
  </wsdl:message>
  <wsdl:message name="GetOneBookWithAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:GetOneBookWithAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="insertAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:insertAuthor" />
  </wsdl:message>
  <wsdl:message name="insertAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:insertAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="updateAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:updateAuthor" />
  </wsdl:message>
  <wsdl:message name="updateAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:updateAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBookSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBook" />
  </wsdl:message>
  <wsdl:message name="InsertBookSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBookResponse" />
  </wsdl:message>
  <wsdl:message name="updateBooksSoapIn">
    <wsdl:part name="parameters" element="tns:updateBooks" />
  </wsdl:message>
  <wsdl:message name="updateBooksSoapOut">
    <wsdl:part name="parameters" element="tns:updateBooksResponse" />
  </wsdl:message>
  <wsdl:message name="getFirstAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:getFirstAuthor" />
  </wsdl:message>
  <wsdl:message name="getFirstAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:getFirstAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="getLastAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:getLastAuthor" />
  </wsdl:message>
  <wsdl:message name="getLastAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:getLastAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="getNextAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:getNextAuthor" />
  </wsdl:message>
  <wsdl:message name="getNextAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:getNextAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="getPreviousAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:getPreviousAuthor" />
  </wsdl:message>
  <wsdl:message name="getPreviousAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:getPreviousAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="getFirstBookAndAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:getFirstBookAndAuthor" />
  </wsdl:message>
  <wsdl:message name="getFirstBookAndAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:getFirstBookAndAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="getLastBookAndAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:getLastBookAndAuthor" />
  </wsdl:message>
  <wsdl:message name="getLastBookAndAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:getLastBookAndAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="getNextBookAndAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:getNextBookAndAuthor" />
  </wsdl:message>
  <wsdl:message name="getNextBookAndAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:getNextBookAndAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="getPreviousBookAndAuthorSoapIn">
    <wsdl:part name="parameters" element="tns:getPreviousBookAndAuthor" />
  </wsdl:message>
  <wsdl:message name="getPreviousBookAndAuthorSoapOut">
    <wsdl:part name="parameters" element="tns:getPreviousBookAndAuthorResponse" />
  </wsdl:message>
  <wsdl:portType name="BooksWebServiceSoap">
    <wsdl:operation name="GetAllBooksWithAuthors">
      <wsdl:input message="tns:GetAllBooksWithAuthorsSoapIn" />
      <wsdl:output message="tns:GetAllBooksWithAuthorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <wsdl:input message="tns:GetAllAuthorsSoapIn" />
      <wsdl:output message="tns:GetAllAuthorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOneBookWithAuthor">
      <wsdl:input message="tns:GetOneBookWithAuthorSoapIn" />
      <wsdl:output message="tns:GetOneBookWithAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertAuthor">
      <wsdl:input message="tns:insertAuthorSoapIn" />
      <wsdl:output message="tns:insertAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateAuthor">
      <wsdl:input message="tns:updateAuthorSoapIn" />
      <wsdl:output message="tns:updateAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBook">
      <wsdl:input message="tns:InsertBookSoapIn" />
      <wsdl:output message="tns:InsertBookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateBooks">
      <wsdl:input message="tns:updateBooksSoapIn" />
      <wsdl:output message="tns:updateBooksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFirstAuthor">
      <wsdl:input message="tns:getFirstAuthorSoapIn" />
      <wsdl:output message="tns:getFirstAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastAuthor">
      <wsdl:input message="tns:getLastAuthorSoapIn" />
      <wsdl:output message="tns:getLastAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNextAuthor">
      <wsdl:input message="tns:getNextAuthorSoapIn" />
      <wsdl:output message="tns:getNextAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPreviousAuthor">
      <wsdl:input message="tns:getPreviousAuthorSoapIn" />
      <wsdl:output message="tns:getPreviousAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFirstBookAndAuthor">
      <wsdl:input message="tns:getFirstBookAndAuthorSoapIn" />
      <wsdl:output message="tns:getFirstBookAndAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLastBookAndAuthor">
      <wsdl:input message="tns:getLastBookAndAuthorSoapIn" />
      <wsdl:output message="tns:getLastBookAndAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNextBookAndAuthor">
      <wsdl:input message="tns:getNextBookAndAuthorSoapIn" />
      <wsdl:output message="tns:getNextBookAndAuthorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPreviousBookAndAuthor">
      <wsdl:input message="tns:getPreviousBookAndAuthorSoapIn" />
      <wsdl:output message="tns:getPreviousBookAndAuthorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BooksWebServiceSoap" type="tns:BooksWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllBooksWithAuthors">
      <soap:operation soapAction="http://tempuri.org/GetAllBooksWithAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <soap:operation soapAction="http://tempuri.org/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneBookWithAuthor">
      <soap:operation soapAction="http://tempuri.org/GetOneBookWithAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertAuthor">
      <soap:operation soapAction="http://tempuri.org/insertAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAuthor">
      <soap:operation soapAction="http://tempuri.org/updateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBook">
      <soap:operation soapAction="http://tempuri.org/InsertBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBooks">
      <soap:operation soapAction="http://tempuri.org/updateBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFirstAuthor">
      <soap:operation soapAction="http://tempuri.org/getFirstAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastAuthor">
      <soap:operation soapAction="http://tempuri.org/getLastAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNextAuthor">
      <soap:operation soapAction="http://tempuri.org/getNextAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPreviousAuthor">
      <soap:operation soapAction="http://tempuri.org/getPreviousAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFirstBookAndAuthor">
      <soap:operation soapAction="http://tempuri.org/getFirstBookAndAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastBookAndAuthor">
      <soap:operation soapAction="http://tempuri.org/getLastBookAndAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNextBookAndAuthor">
      <soap:operation soapAction="http://tempuri.org/getNextBookAndAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPreviousBookAndAuthor">
      <soap:operation soapAction="http://tempuri.org/getPreviousBookAndAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BooksWebServiceSoap12" type="tns:BooksWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllBooksWithAuthors">
      <soap12:operation soapAction="http://tempuri.org/GetAllBooksWithAuthors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <soap12:operation soapAction="http://tempuri.org/GetAllAuthors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneBookWithAuthor">
      <soap12:operation soapAction="http://tempuri.org/GetOneBookWithAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertAuthor">
      <soap12:operation soapAction="http://tempuri.org/insertAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAuthor">
      <soap12:operation soapAction="http://tempuri.org/updateAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBook">
      <soap12:operation soapAction="http://tempuri.org/InsertBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBooks">
      <soap12:operation soapAction="http://tempuri.org/updateBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFirstAuthor">
      <soap12:operation soapAction="http://tempuri.org/getFirstAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastAuthor">
      <soap12:operation soapAction="http://tempuri.org/getLastAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNextAuthor">
      <soap12:operation soapAction="http://tempuri.org/getNextAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPreviousAuthor">
      <soap12:operation soapAction="http://tempuri.org/getPreviousAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFirstBookAndAuthor">
      <soap12:operation soapAction="http://tempuri.org/getFirstBookAndAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastBookAndAuthor">
      <soap12:operation soapAction="http://tempuri.org/getLastBookAndAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNextBookAndAuthor">
      <soap12:operation soapAction="http://tempuri.org/getNextBookAndAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPreviousBookAndAuthor">
      <soap12:operation soapAction="http://tempuri.org/getPreviousBookAndAuthor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BooksWebService">
    <wsdl:port name="BooksWebServiceSoap" binding="tns:BooksWebServiceSoap">
      <soap:address location="http://localhost:51112/BooksWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BooksWebServiceSoap12" binding="tns:BooksWebServiceSoap12">
      <soap12:address location="http://localhost:51112/BooksWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>